<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication1.Properties.Settings.ooadtim6ConnectionString"
            connectionString="server=etf.ba;User Id=ooadtim6;database=ooadtim6;password=ooadtim6"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>